# Disable directory browsing
Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On

    # IMPORTANT: project folder ka naam yahan set karo
    RewriteBase /finance-management-system-/public/

    # Remove trailing slash
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # If file or directory exists, do not rewrite
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirect all to index.php
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>

# Fallback if mod_rewrite not enabled
<IfModule !mod_rewrite.c>
    ErrorDocument 404 index.php
</IfModule>

# Hide server signature
ServerSignature Off